{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FastCon | The world’s biggest and only Fast and the Furious conference </title>
	<script src="https://use.typekit.net/jco6zof.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

</head>

<body>

	<!-- Hero -->
	<div id="hero-image" class="header">

		<!-- Title -->
		<h1><span class="bigger">F</span>astCon is <span class="bigger">c</span>oming!</h1>
		<h2>The world’s biggest and only Fast and the Furious conference begins in...</h2>

		<!-- Countdown -->
		<div id="countdown">
			<p class="days">00</p>
			<p class="timeRefDays">days</p>
			<p class="hours">00</p>
			<p class="timeRefHours">hours</p>
			<p class="minutes">00</p>
			<p class="timeRefMinutes">minutes</p>
			<p class="seconds">00</p>
			<p class="timeRefSeconds">seconds</p>
		</div>

	</div>


	<section class="panel">
		  
		<div class="panel-content">
		  	<div class="content" id="content">
				<h2>What is Fastcon?</h2>
				<p>FastCon* is a celebration of the Fast and the Furious franchise with Greg and Selena. Get ready for the opening of F8: The Fate of the Furious by re-watching the first seven films, one per night.</p>

			</div>
		</div>
	</section>



	<section class="panel grey-panel">
		<div class="panel-quote">
		  	<div class="blockquote">
				<h2>What people are saying</h2>
				<blockquote>It’s really hard to commit to watching a movie a night, I mean we have jobs and kids and some of these aren’t even good movies.</blockquote>
				<small> @robleto</small>
			</div>
		</div>
	</section>



	<section class="panel">
		<div class="panel-content">
			<a rel="nofollow" class="arrow-wrap" href="#content" style="opacity: 0.177363;">
			<span class="arrow"></span>
			<!--<span class="hint">scroll</span>-->
			</a>
		  
		  <div class="content">
			  <h2>One movie each night for a week</h2>
			  <p>Haven’t seen all the previous Fast and Furious movies? Now’s your chance to catch up with all seven movies leading up to the viewing of part 8 on opening day, April 14th. </p>
			  <p><strong>All movies start at 9:00pm and are accompanied by live tweeting using the hashtag #fastcon</strong></p>
			  
			  <ul class="feature-list">
			  	<li class="feature-item"><strong>APRIL 7</strong> <br>The Fast and the Furious</li>

			  	<li class="feature-item"><strong>APRIL 8</strong><br>2 Fast 2 Furious</li>

			  	<li class="feature-item"><strong>APRIL 9</strong><br>The Fast and the Furious: Tokyo Drift</li>

			  	<li class="feature-item"><strong>APRIL 10</strong><br>Fast &amp; Furious</li>

			  	<li class="feature-item"><strong>APRIL 11</strong><br>Fast Five</li>

			  	<li class="feature-item"><strong>APRIL 12</strong><br>Fast &amp; Furious 6 </li>

			  	<li class="feature-item"><strong>APRIL 13</strong><br>Furious 7<br></li>

			  	<li class="feature-item"><strong>APRIL 14</strong><br>The Fate of the Furious<br><em>(Opening Day)</em></li>
			  </ul>

			</div>
		</div>
	</section>



	<section class="panel grey-panel">
		<div class="panel-quote">
		  	<div class="blockquote">
				<h2>What people are saying</h2>
				<blockquote>After spending a week re-watching all these movies you come to realize, “I think we’re cheering for a bunch of crooks.</blockquote>
				<small> @srobleto</small>
			</div>
		</div>
	</section>




	<section class="panel">
		  
		<div class="panel-content">
		  	<div class="content">
				<h2>Reserve your spot</h2>

				<h3>Seating is Extremely Limited!</h3>
				<p>Since Greg and Selena will be attending each event, that only leaves seating for two comfortably and up to five if we squish, so reserve your seat early so you do not get left out. Badges are going fast... and furiously!</p>

			</div>
		</div>
	</section>



	<section class="panel grey-panel">
		<div class="panel-quote">
		  	<div class="blockquote">
				<h2>What people are saying</h2>
				<blockquote>The core premise that they are great street racers is flawed. They don’t seem to be particularly skilled at all. They just hit the NOS button every time they need to win a race.</blockquote>
				<small> @robleto</small>
			</div>
		</div>
	</section>






	<section class="panel">
		  
		<div class="panel-content">
		  	<div class="content">
				<h2>Join in Online</h2>

				<h3>Find us at the hashtag #fastcon</h3>
				<p>Just get a copy of the movies and hop online at 9pm and find us at the hashtag #fastcon, we'll be there live-tweeting each movie as we watch, you can too.</p>


			</div>
		</div>
	</section>



	<section class="panel grey-panel">
		<div class="panel-quote">
		  	<div class="blockquote">
				<h2>What people are saying</h2>
				<blockquote>The key is that you just not think too hard. Watching 6 or 7 of these in a row will break you of that impulse. Then you really start enjoying these movies.</blockquote>
				<small> @robleto</small>
			</div>
		</div>
	</section>



	<section class="panel">
		  
		<div class="panel-content">
		  	<div class="content">
				<h2>Bonus! Fast Resources and Furious Trailers</h2>

				<p> Watch these to get excited and inspired for seven nights of watching Fast and the Furious.</p>


				<h3>Official Trailer</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/uisBaTkQAEs" frameborder="0" allowfullscreen></iframe>



				<h3>Official Trailer 2</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/NxhEZG0k9_w" frameborder="0" allowfullscreen></iframe>




			</div>
		</div>
	</section>


	<footer>
		<div class="footer-content">
			* FastCon is not affiliated in any way with  Universal or the Fast and the Furious franchise, nor is it a real conference.
			<br />
			Copyright &copy; 2017 All Rights Reserved.
		</div>
	</footer>
	


		
<script type="text/javascript">

/*
* Basic Count Down to Date and Time
* Author: @mrwigster / trulycode.com
*/
(function (e) {
  e.fn.countdown = function (t, n) {
  function i() {
    eventDate = Date.parse(r.date) / 1e3;
    currentDate = Math.floor(e.now() / 1e3);
    if (eventDate <= currentDate) {
      n.call(this);
      clearInterval(interval)
    }
    seconds = eventDate - currentDate;
    days = Math.floor(seconds / 86400);
    seconds -= days * 60 * 60 * 24;
    hours = Math.floor(seconds / 3600);
    seconds -= hours * 60 * 60;
    minutes = Math.floor(seconds / 60);
    seconds -= minutes * 60;
    days == 1 ? thisEl.find(".timeRefDays").text("day") : thisEl.find(".timeRefDays").text("days");
    hours == 1 ? thisEl.find(".timeRefHours").text("hour") : thisEl.find(".timeRefHours").text("hours");
    minutes == 1 ? thisEl.find(".timeRefMinutes").text("minute") : thisEl.find(".timeRefMinutes").text("minutes");
    seconds == 1 ? thisEl.find(".timeRefSeconds").text("second") : thisEl.find(".timeRefSeconds").text("seconds");
    if (r["format"] == "on") {
      days = String(days).length >= 2 ? days : "0" + days;
      hours = String(hours).length >= 2 ? hours : "0" + hours;
      minutes = String(minutes).length >= 2 ? minutes : "0" + minutes;
      seconds = String(seconds).length >= 2 ? seconds : "0" + seconds
    }
    if (!isNaN(eventDate)) {
      thisEl.find(".days").text(days);
      thisEl.find(".hours").text(hours);
      thisEl.find(".minutes").text(minutes);
      thisEl.find(".seconds").text(seconds)
    } else {
      alert("Invalid date. Example: 30 Tuesday 2013 15:50:00");
      clearInterval(interval)
    }
  }
  var thisEl = e(this);
  var r = {
    date: null,
    format: null
  };
  t && e.extend(r, t);
  i();
  interval = setInterval(i, 1e3)
  }
  })(jQuery);
  $(document).ready(function () {
  function e() {
    var e = new Date;
    e.setDate(e.getDate() + 60);
    dd = e.getDate();
    mm = e.getMonth() + 1;
    y = e.getFullYear();
    futureFormattedDate = mm + "/" + dd + "/" + y;
    return futureFormattedDate
  }
  $("#countdown").countdown({
    date: "17 April 2017 21:00:00", // Change this to your desired date to countdown to
    format: "on"
  });
});



</script>
</body>
</html>